<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>

    </style>
</head>
<body>
    <div style="width:auto">
        <h1>Привет!</h1>
        <h2>Загляни на наш сайт <a href="http://localhost:8000/">py_ev22_shop</a> у нас вышел новый товар!</h2>
        <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fpix10.agoda.net%2FhotelImages%2F124%2F1246280%2F1246280_16061017110043391702.jpg%3Fca%3D6%26ce%3D1%26s%3D1024x768&imgrefurl=https%3A%2F%2Fwww.agoda.com%2Fru-ru%2Fl-hotel%2Fhotel%2Fkhon-kaen-th.html&tbnid=EkwDAGgPjdT1lM&vet=12ahUKEwj47-7cg5L6AhXS6CoKHQ1NBHEQMygAegUIARC1AQ..i&docid=3PQEPqAlVUospM&w=1024&h=768&q=hotel&ved=2ahUKEwj47-7cg5L6AhXS6CoKHQ1NBHEQMygAegUIARC1AQ" alt="">
        <h3>Room: {{ name }} {{ desc }}</h3>
    </div>

<!--    <div>-->
<!--        <h1>{{ activation_link }}</h1>-->
<!--&lt;!&ndash;        <a href="{{ activation_link }}"></a><button type="submit">Click</button></a>&ndash;&gt;-->
<!--    </div>-->
</body>
</html>